# Dependencies
node_modules/

# Build output
dist/
dist-installer/
win-unpacked/
*.exe.blockmap
latest.yml
builder-debug.yml
builder-effective-config.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local